/* Rebekah Heacock Jones
 * rebekah.heacock@gmail.com
 * https://github.com/rebekahheacock/
 * CSCI E-3, Spring 2016
 * Final Project
 * dpla_images.css 
 */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Lora', Garamond, serif;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

nav {
	background: #D9D9D9;
	overflow: auto;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

ul.navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: right;
}

ul.navigation li {
	display: inline-block;
	margin-left: 10px;
}

nav a {
	text-decoration: none;
}

#about, #credits {
	background: #D9D9D9;
	padding: 10px 30px;
	display: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 1.2em;
}

label {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	display: block;
	
}

#searchbox {
	padding: 10px;
	border: 1px solid #D9D9D9;
	margin: 10px auto;
	width: 90%;
}

#searchterm {
	width: 100%;
	border: none;
	padding: 0px;
	margin: 0;
	outline: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
}

button {
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	background-color: #D9D9D9;
	padding: 10px;
	border: none;
}

button:hover {
	background-color: #F8F8F8;
}

a {
	color: rgb(96, 159, 128);
}

a:visited {
	color: rgb(75, 87, 77);
}

a:hover {
	color: rgb(121, 142, 135);
}

header {
	text-align: center;
}

form {
	max-width: 600px;
	overflow: auto;
	margin: auto;
	padding-bottom: 15px;
	text-align: center;
}

.read-list {
	padding-top: 15px;
}

#error {
	color: rgb(175, 66, 10);
	display: none;
	margin-bottom: .5rem;
}

#dataError {
	display: none;
}

/* BACKGROUND COLORS */

.green {
	background-color: rgba(141, 152, 118, 0.5);
}

.yellow {
	background-color: rgba(203, 179, 69, 0.5);
}

.aqua {
	background-color: rgba(96, 159, 128, 0.5);
}

.gray {
	background-color: rgba(75, 87, 77, 0.5);
}

.red {
	background-color: rgba(175, 66, 10, 0.5);
}

.blue {
	background-color: rgba(121, 142, 135, 0.5);
}

/* MASONRY */

.grid-item {
	float: left;
}

.grid-item-content {
	width: 100%;
	height: 200px;
	padding: 5px;
	transition: width 0.4s, height 0.4s;
}

.grid-sizer,
.grid-item { 
	width: 100%; 
}

.grid-item {
	height: 200px;
}

.grid-item.is-expanded {
  width: 100%;
  height: 200px;
}

@media (min-width: 768px) {
	.grid-sizer,
	.grid-item { 
		width: 33%; 
	}

	.grid-item.is-expanded {
	  width: 66%;
	}
}

@media (min-width: 992px) {
	.grid-sizer,
	.grid-item { 
		width: 25%; 
	}

	.grid-item.is-expanded {
	  width: 50%;
	}
}

@media (min-width: 1200px) {
	.grid-sizer,
	.grid-item { 
		width: 20%; 
	}

	.grid-item.is-expanded {
	  width: 40%;
	}
}


.grid-item-content:hover {
	cursor: pointer;
}



.grid-item.is-expanded {
  z-index: 2;
}

/* ITEM DISPLAY */
.grid-item span {
	display: block;
}

.grid-item-content img {
	float: right;
	max-width: 50%;
	max-height: 180px;
}

.item-title {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

.item-creator {
	font-style: italic;
}

.item-creator, .item-date, .item-link {
	font-size: 12px;
}

.grid-item span.item-description {
	display: none;
	padding-top: 0.5em;
}

.grid-item a {
	display: none;
	padding-top: 1em;
	text-decoration: none;
	color: #000;
}

.grid-item a:hover {
	text-decoration: underline;
}

.grid-item a i {
	padding-left: 6px;
}

.grid-item.is-expanded span.item-description,
.grid-item.is-expanded a
{
	display: block;
}


