/* Rebekah Heacock Jones
 * rebekah.heacock@gmail.com
 * CSCI E-3, Spring 2016
 * hw2b.js 
 */

.container {
	max-width: 800px;
}

header {
	text-align: center;
}

form {
	max-width: 600px;
	overflow: auto;
	margin: auto;
	padding-bottom: 15px;
}

.read-list {
	padding-top: 15px;
}

#error {
	color: red;
	display: none;
	margin-bottom: .5rem;
}

#noResults {
	display: none;
}

.grid-item { 
	width: 100px; 
}
