/* Rebekah Heacock Jones
 * rebekah.heacock@gmail.com
 * CSCI E-3, Spring 2016
 * hw2b.js 
 */

.container {
	max-width: 900px;
}

header {
	text-align: center;
}

form {
	max-width: 600px;
	overflow: auto;
	margin: auto;
	padding-bottom: 15px;
}

.read-list {
	padding-top: 15px;
}

#error {
	color: red;
	display: none;
	margin-bottom: .5rem;
}

#dataError {
	display: none;
}

/* BACKGROUND COLORS */

.green {
	background-color: rgba(141, 152, 118, 0.5);
}

.yellow {
	background-color: rgba(203, 179, 69, 0.5);
}

.aqua {
	background-color: rgba(96, 159, 128, 0.5);
}

.gray {
	background-color: rgba(75, 87, 77, 0.5);
}

.red {
	background-color: rgba(175, 66, 10, 0.5);
}

/* MASONRY */

.grid-item {
	float: left;
}

.grid-item,
.grid-item-content { 
	width: 300px; 
	height: 200px;
}

.grid-item-content {
	transition: width 0.4s, height 0.4s;
}

.grid-item-content:hover {
	cursor: pointer;
}

.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 600px;
  height: 200px;
}

.grid-item-content img {
	width: 25%;
}

.grid-item.is-expanded {
  z-index: 2;
}

.grid-item.is-expanded .grid-item-content {
}
