/* Rebekah Heacock Jones
 * rebekah.heacock@gmail.com
 * CSCI E-3, Spring 2016
 * hw2b.js 
 */

.container {
	max-width: 900px;
}

header {
	text-align: center;
}

form {
	max-width: 600px;
	overflow: auto;
	margin: auto;
	padding-bottom: 15px;
}

.read-list {
	padding-top: 15px;
}

#error {
	color: red;
	display: none;
	margin-bottom: .5rem;
}

#dataError {
	display: none;
}

.grid-item,
.grid-item-content { 
	width: 300px; 
	height: 300px;
}

.grid-item-content {
  transition: width 0.4s, height 0.4s;
}

.grid-item.is-expanded,
.grid-item.is-expanded .grid-item-content {
  width: 600px;
  height: 600px;
}

.grid-item-content img {
	width: 25%;
}
